* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f3f6;
  text-align: center;
  padding: 0 10px 60px;
}

h1 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 30px;   
}

a {
  color: #027aff;
  font-weight: 600;
  text-decoration: none;
}